<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<% unless @game.player_1.name.nil? || @game.player_2.name.nil? %>
  <p> <%= @game.player_1.name %> vs <%=@game.player_2.name%> </p>
  <p> <%=@game.player_2.name%> hit points = <%=@game.player_2.points%> </p>
  <form action="/attack" method ="get">
    <input type="submit" value="Attack <%=@game.player_2.name%>">
  </form>
  <form action="/attack2" method ="get">
    <input type="submit" value="Attack <%=@game.player_1.name%>">
  </form>
<%end%>

</body>
</html>
