<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<% unless @game.player_1.name.nil? || @game.player_2.name.nil? %>
  <p> <%= @game.player_1.name %> vs <%=@game.player_2.name%> </p>
  <p> <%=@game.player_1.name%> hit points = <%=@game.player_1.points%> </p>
  <p> <%=@game.player_2.name%> hit points = <%=@game.player_2.points%> </p>

  <% if @game.losing_player.nil? %>
    <% if @game.player_1_turn? %>
    <form action="/attack" method ="get">
      <input type="submit" value="Attack <%=@game.player_2.name%>">
    </form>
    <% end %>

    <% unless @game.player_1_turn? %>
    <form action="/attack2" method ="get">
      <input type="submit" value="Attack <%=@game.player_1.name%>">
    </form>
    <% end %>
  <% end %>
<%end%>

  <% unless @game.losing_player.nil? %>
    <h1> <%=@game.losing_player.name%> loses! </h1>
    <h3>Game over! </h3>
  <% end %>
</body>
</html>
